<div class="my-5 py-5" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>Inscription</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" fxLayout="column" fxLayoutGap="15px">
                <mat-form-field>
                    <input formControlName="email" matInput type="text" placeholder="email"/>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="firstName" matInput type="text" placeholder="firstname"/>
                </mat-form-field>
                <mat-form-field>
                  <input formControlName="lastName" matInput type="text" placeholder="lastname"/>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="password" matInput type="password" placeholder="mot de passe"/>
                </mat-form-field>
                <div *ngIf="error">{{ error }}</div>
                <button (click)="submit()" color="primary" mat-raised-button>Inscription</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>