<p class="text-center mat-dialog-title">Ajouter un client</p>

<mat-dialog-content>
    <form #customer [formGroup]="addCustomerForm" novalidate class="display-dialog-form">
        <mat-form-field>
            <input matInput formControlName="firstName" type="text" name="firstName" placeholder="Prénom">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="lastName" type="text" placeholder="Nom">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="email" type="text" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="company" type="text" placeholder="Entreprise">
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary" (click)="addCustomer(addCustomerForm.value)"><i
        class="pi pi-plus"></i>Ajouter</button>
</mat-dialog-actions>
